@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Tailwind v4: dark variant by class (toggle) */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light dark;

    /* neutrals */
    --bg: 255 255 255;
    --fg: 9 9 11;
    --muted: 113 113 122;
    --card: 255 255 255;
    --border: 228 228 231;

    /* accents (sobrios) */
    --a1: 16 185 129;  /* emerald */
    --a2: 59 130 246;  /* blue */
    --a3: 168 85 247;  /* violet */
    --a4: 245 158 11;  /* amber */
  }

  .dark {
    --bg: 9 9 11;
    --fg: 244 244 245;
    --muted: 161 161 170;
    --card: 12 12 16;
    --border: 39 39 42;

    --a1: 52 211 153;
    --a2: 96 165 250;
    --a3: 192 132 252;
    --a4: 251 191 36;
  }

  html { scroll-behavior: smooth; }
  body { background: rgb(var(--bg)); color: rgb(var(--fg)); }
}