---
import Container from "./Container.astro";
const year = new Date().getFullYear();
---
<footer class="border-t border-zinc-200/70 dark:border-zinc-800">
  <Container class="py-6 text-sm opacity-80 flex flex-col gap-2">
    <p>© {year} Bryan Vislao</p>
    <p>Hecho con Astro + Tailwind.</p>
  </Container>
</footer>