---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
  canonical?: string;
};

const { title = "bvislaoch_", description = "Portafolio", canonical }: Props = Astro.props;
const canonicalUrl = canonical ?? Astro.url.href;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />

    <script src="../../public/scripts/theme.js"></script>
  </head>

  <body class="min-h-screen">
    <main class="min-h-[70vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>